* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-home {
    font-family: 'Roboto', sans-serif;
    background-color: #191919;
    color: #fdfdfd;
}

.body-productos {
    font-family: 'Roboto', sans-serif;
    background-color: #191919;
    color: #fdfdfd;
    padding: 1rem;
}

.body-productos h1 {
    text-align: center;
}

:root {
    --shadow-color: 32deg 23% 27%;
    --shadow-elevation-low:
      -0.3px 0px 0.3px hsl(var(--shadow-color) / 0.34),
      -0.5px 0px 0.6px -1.2px hsl(var(--shadow-color) / 0.34),
      -1.1px -0.1px 1.2px -2.5px hsl(var(--shadow-color) / 0.34);
    --shadow-elevation-medium:
      -0.3px 0px 0.3px hsl(var(--shadow-color) / 0.36),
      -0.9px -0.1px 1px -0.8px hsl(var(--shadow-color) / 0.36),
      -2.3px -0.2px 2.6px -1.7px hsl(var(--shadow-color) / 0.36),
      -5.6px -0.4px 6.3px -2.5px hsl(var(--shadow-color) / 0.36);
    --shadow-elevation-high:
      -0.3px 0px 0.3px hsl(var(--shadow-color) / 0.34),
      -1.6px -0.1px 1.8px -0.4px hsl(var(--shadow-color) / 0.34),
      -3px -0.2px 3.4px -0.7px hsl(var(--shadow-color) / 0.34),
      -5px -0.3px 5.6px -1.1px hsl(var(--shadow-color) / 0.34),
      -7.9px -0.5px 8.9px -1.4px hsl(var(--shadow-color) / 0.34),
      -12.4px -0.8px 14px -1.8px hsl(var(--shadow-color) / 0.34),
      -18.9px -1.3px 21.3px -2.1px hsl(var(--shadow-color) / 0.34),
      -27.8px -1.9px 31.3px -2.5px hsl(var(--shadow-color) / 0.34);
  }

/*
    * ***** Nav Container
*/

.nav-container {
    position: absolute;
    width: 100%;
    padding: 1rem 2rem;
    top: 1rem;
    display: flex;
    justify-content: space-between;
}

.logo-container {
    font-weight: 900;
}

.links-container a {
    color: #fdfdfd;
    margin: 0 0.3rem;
    text-decoration: none;
}

/*
    * ***** HERO
*/

.hero { 
    position: relative;
    background: linear-gradient(to right,rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url(./images/imgHero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 35%, 100% 67%, 24% 90%, 21% 90%, 19% 89%, 0% 70%, 0% 35%, 0 19%);
    background-color: #191919;
}

.content {
    z-index: 3;
    position: absolute;
    top: 15rem;
    left: 7rem;
}

.content .subtopic {
    color: gray;
    font-size: 1.5rem;

}

.content .topic {
    color: #fdfdfd;
    font-size: 3rem;
    letter-spacing: 2px;
}

.content .topic span {
    font-weight: bold;
    color: #91785D;
}


.bts-container {
    margin-top: 2rem;
}

.bts-container .style-btn-1 {
    border: none;
    border-radius: 10px;
    padding: 0.3rem 2rem;
    margin-right: 2rem;
}

.bts-container .style-btn-2 {
    border: none;
    background-color: transparent;
    color: #fdfdfd;
    border: 1px solid #fdfdfd;
    border-radius: 10px;
    padding: 0.3rem 2rem;
    margin-right: 2rem;
}

.bts-container .style-btn-2:hover {
    background-color: #91785D;
    border: none;
}

.container-image-1 {
    position: absolute;
    width: 385px;
    top: 10%;
    right: 0rem;
}

.container-image-2 {
    position: absolute;
    width: 477px;
    top: 30%;
    right: 10rem;
}

.container-image-2  img {
    width: 100%;
}


/*
    * ***** ACERCA DE
*/

.about-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #191919;
    padding: 3rem;
}

.about-us .left-part {
    width: 25%;
}


.about-us .left-part img {
    width: 100%;
}

.about-us .right-part {
    width: 50%;
    padding: 1rem 3rem;
}

.title-about {
    font-size: 80px;
    margin-bottom: 1rem;
}

.litle-title-about {
    font-size: 40px;
    color: gainsboro;
    margin-bottom: 1rem;
}

.litle-title-about span {
    color: #91785D;
}

.text-about {
    text-align: justify;
}

/*
    * ***** Gallery
*/

.gallery-full {
    text-align: center;
    padding: 2rem;
}

.gallery-full .title-gallery {
    font-size: 40px;
    margin-bottom: 1rem;
}

.gallery-container {
    display: flex;
    justify-content: center;
}

.gallery {
    display: flex;
    width: 75%;
    height: 430px;
}

.gallery img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.5 ease;
}

.gallery img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

/*
    * ***** CARD
*/

.container-product {
    margin: 4rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.product-card {
    display: flex;
    flex-direction: column;
    height: 476px;
    width: 20%;
    border-radius: 15px;
}

.product-card .top-card {
    background-color: #91785D;
    height: 55%;
    position: relative;
    border-radius: 15px 15px 0px 0px;
}

.product-card .shirt_image {
    position: absolute;
    top: -4.5rem;
    left: 50%;
    width: 300px;
    height: auto;
    transform: translateX(-50%);
}

.product-card .bottom-card{
    background-color: white;
    height: 45%;
    border-radius: 0 0 15px 15px;
    position: relative;
}

.bottom-card .product_name {
    color: #191919;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-top: 1.2rem;
}

.bottom-card .product_description {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.bottom-card .product_description p {
    text-align: center;
    font-size: 14px;
    color: #191919;
    max-width: 75%;
}
/*
    * ***** MEDIA QUERIES HOME
*/

@media screen and (max-width: 1300px) {
    .container-image-1 {
        z-index: 1;
    }

    .container-image-2 {
        z-index: 2;
        top: 10%;
        right: 0rem;
    }

    .about-us .left-part,
    .about-us .right-part {
        width: 50%;
    }

    .title-about {
        font-size: 40px;
    }
    
    .litle-title-about {
        font-size: 20px;
    }
}

@media screen and (max-width: 990px) {
    .hero {
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        clip-path: none;
    }

    .content {
        text-align: center;
        position: static;
    }

    .container-image-1 {
        display: none;
    }

    .container-image-2 {
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 25%;
    }
}

@media screen and (max-width: 800px) {

    .container-image-2 {
        width: 350px;
    }
    .about-us .left-part,
    .about-us .right-part {
        width: 100%;
    }

    .about-us .right-part {
        padding: 1rem 0;
    }

    .title-about {
        font-size: 40px;
    }
    
    .litle-title-about {
        font-size: 20px;
    }

    .text-about {
        text-align: left;
    }
}

@media screen and (max-width: 550px) {
    .gallery img:hover {
        width: 150px;
    }
}

/*
    * ***** MEDIA QUERIES PRODUCTS
*/

@media screen and (max-width: 1263px) {
    .product-card {
        width: 33.33%;
    }
}

@media screen and (max-width: 785px) {
    .product-card {
        width: 50%;
    }
}

@media screen and (max-width: 536px) {
    .product-card {
        width: 80%;
    }
}
